body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    max-width: 900px;
    margin: 0 auto;
}

.nav-links {
    display: flex;
    gap: 36px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero {
    justify-self: center;
    padding: 80px 0;
}

.about {
    display: flex;
    max-width: 800px;
    justify-self: center;
    margin: 60px auto;
    gap: 40px;
}
.about-img{
    flex: 1;
    min-width: 250px;
    background-color: blue;
    aspect-ratio: 1/1;
    border-radius: 8px;
}
.about-text{
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
button {
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background: black;
    color: white;
    cursor: pointer;
}   
button:hover {
    opacity: 0.8;
}