.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.product {
    flex: 1 0 250px;
    padding: 20px;
    border-radius: 8px;
    background-color: #eee;
    text-align: center;
}

@media(max-width: 600px) {
}