.products {
    display: grid;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.item {
    background: #e8e8e8;
    padding: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .products {
        grid-template-columns: 1fr;
    }
}